#home_Hero {

    padding: 100px 0px;

    h1 {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 20px;
        font-weight: 900;
        text-align: center;

        @include breakpoint(large up) {
            font-size: 54px;
            line-height: 70px;
            margin-bottom: 20px;
            text-align: left;
        }

    }

    p {
        font-size: 16px;
        margin-bottom: 50px;
        text-align: center;

        @include breakpoint(large up) {
            font-size: 18px;
            line-height: 28px;
            text-align: left;
        }

    }

    .button_Hero {
        background-color: #F66309;
        color: #FFF;
        padding: 15px 20px;
        transition: all 300ms ease-in-out;
        font-size: 20px;
        line-height: 30px;
        display: block;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);

        @include breakpoint (large up) {
            display: inline;
            margin: 0;
        }

        &:hover {
            background-color: #21323E;
        }

    }

    img {
        border-radius: 50%;
        -webkit-box-shadow: -10px 10px 0px 0px #BED2CF; 
        box-shadow: -10px 10px 0px 0px #BED2CF;
        max-width: 250px;
        margin-bottom: 50px;

        @include breakpoint(large up) {
            margin-bottom: 0px;
            max-width: 350px;
        }

    }

}

#home_Posts {
    background-color: #F9EADF;
    padding: 40px 0px;

    h2 {
        font-size: 22px;
        line-height: 60px;
        color: #21243D;
        font-weight: 400;
    }

    #home_Posts--meta {
        h2 {

            text-align: center;
            
            @include breakpoint(large up) {
                text-align: left;
            }

        }
        a {
            text-align: center;

            @include breakpoint(large up) {
                text-align: right;
            }
        }
    }

    .home_Posts--moreButton {
        color: #21323E;

        &:hover{
            color: #000;
            text-decoration: underline;
        }

    }

    #home_Posts--articles {
        
        .postCard {
            background-color: #FFF;
            box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
            border-radius: 4px;
            padding: 25px;
            margin-bottom: 30px;

            @include breakpoint(large up){
                margin-bottom: 0px;
            }

            h3 {
                font-size: 26px;
                line-height: 40px;
                font-weight: 700;

                a {
                    color: #21243D;
                }

            }

            .meta {
                font-size: 18px;
                line-height: 25px;
                margin: 20px 0px;

                li:first-child {
                    padding-right: 20px;
                }

                li:last-child {
                    padding-left: 20px;
                    border-left: solid 1px #CDCDCD;
                }

                a {
                    display: inline;
                    color: #F66309;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        color: #000;
                    }
                }

            }

            p {
                font-size: 16px;
                line-height: 24px;
            }

            .readMore--button {
                color: #F66309;
                text-decoration: none;
                transition: all 300ms ease-in-out;
                
                &:hover {
                    color: #000;
                    text-decoration: underline;
                }

            }

        }

    }

}

#home_Works {

    padding: 40px 0px;

    h2 {
        font-size: 22px;
        line-height: 60px;
        color: #21243D;
        font-weight: 400;
        margin-bottom: 30px;
        text-align: center;

        @include breakpoint (large up) {
            text-align: left;
        }

    }

    img {
        border-radius: 6px;
    }

    .workSingle {

        .workPost {
            padding-left: 0px;

            @include  breakpoint (large up) {
                padding-left: 20px;
            }

        }

        border-bottom: solid 1px #E0E0E0;
        padding-bottom: 35px;

        h3 {
            color: #21243D;
            font-size: 30px;
            line-height: 44px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .meta {

            font-size: 16px;
            margin-bottom: 10px;

            .date {
                background-color: #142850;
                border-radius: 16px;
                color: #FFF;
                font-weight: 900;
                padding: 2px 10px;
                margin-right: 0px;
            }

            .category {
                color: #8695A4;
                padding: 2px 10px;

                a {
                    display: inline-block;
                    color: #F66309;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        color: #21323E;
                        text-decoration: underline;
                    }

                }

            }

            p {
                font-size: 16px;
                line-height: 24px;
            }

        }

        .readMore {
            color: #F66309;

            &:hover {
                color: #21323E;
            }
        }

    }

}

#singlePost {

    padding: 100px 0px;

    h1 {
        font-size: 34px;
        line-height: 50px;
        color: #21323E;
        font-weight: 700;
    }

    h2 {
        font-size: 32px;
        line-height: 50px;
        color: #21323E;
        font-weight: 700;
    }

    h3 {
        font-size: 30px;
        line-height: 50px;
        color: #21323E;
        font-weight: 500;
    }

    h4 {
        font-size: 24px;
        line-height: 40px;
        color: #21323E;
        font-weight: 500;
    }

    p {
        font-size: 18px;
        line-height: 24px;
    }

    .meta {
        font-size: 18px;
        line-height: 25px;
        margin: 20px 0px;
        padding-bottom: 20px;
        border-bottom: solid 1px #CDCDCD;

        li:first-child {
            padding-right: 20px;
        }

        li:last-child {
            padding-left: 20px;
            border-left: solid 1px #CDCDCD;
        }

        a {
            display: inline;
            color: #F66309;
            transition: all 300ms ease-in-out;

            &:hover {
                color: #000;
            }
        }

    }

    .summary {
        
        p {
            color: #86888a;
        }

    }


}

#singleWork {
    padding: 100px 0px;

    h1 {
        font-size: 34px;
        line-height: 50px;
        color: #21323E;
        font-weight: 700;
    }

    h2 {
        font-size: 32px;
        line-height: 50px;
        color: #21323E;
        font-weight: 700;
    }

    h3 {
        font-size: 30px;
        line-height: 50px;
        color: #21323E;
        font-weight: 500;
    }

    h4 {
        font-size: 24px;
        line-height: 40px;
        color: #21323E;
        font-weight: 500;
    }

    p {
        font-size: 18px;
        line-height: 24px;
    }

    .meta {

        font-size: 16px;
        margin-bottom: 10px;
        border-bottom: solid 1px #CDCDCD;
        padding-bottom: 20px;

        .date {
            background-color: #142850;
            border-radius: 16px;
            color: #FFF;
            font-weight: 900;
            padding: 2px 10px;
            margin-right: 0px;
        }

        .category {
            color: #8695A4;
            padding: 2px 10px;

            a {
                display: inline-block;
                color: #F66309;
                transition: all 300ms ease-in-out;

                &:hover {
                    color: #21323E;
                    text-decoration: underline;
                }

            }

        }

        p {
            font-size: 16px;
            line-height: 24px;
        }

    }

    .summary {
        
        p {
            color: #86888a;
        }

    }
}